li.notepad-infos div{
    display: flex;
    justify-content: space-between;
}

li.notepad-infos {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0,0,0, 0.2);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

li.notepad-infos strong {
    display: block;
    font-size: 16px;
    color: #333;
}

li.notepad-infos div div {
    color: #a7f58f;
    cursor: pointer;
}
li.notepad-infos div div:hover {
    color: rgb(8, 44, 8);
    transition: 0.2s;
}
li.notepad-infos textarea {
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 100%;
    height: 130px;
    font-size: 14px;
    color:black;
    border: 0;
    background:#fff;
    resize: none;
}

li.notepad-infos textarea:hover {
    cursor: default;
}

li.notepad-infos span {
    color: #a7f58f;
    cursor: pointer;
}

li.notepad-infos span:hover{
    color: rgb(8, 44, 8);
    transition: 0.2s;
}