li.notepad-infos-priority div{
    display: flex;
    justify-content: space-between;
}

li.notepad-infos-priority {
    background: #00ff00;
    box-shadow: 0 0 14px 0 rgba(0,0,0, 0.2);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

li.notepad-infos-priority strong {
    display: block;
    font-size: 16px;
    color: #fff;
}

li.notepad-infos-priority div div {
    color: #a7f58f;
    cursor: pointer;
}
li.notepad-infos-priority div div:hover {
    color: #fff;
    transition: 0.2s;
}
li.notepad-infos-priority textarea {
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 100%;
    height: 130px;
    font-size: 14px;
    color:#fff;
    border: 0;
    background:#00ff00;
    resize: none;
}

li.notepad-infos-priority textarea:hover {
    cursor: default;
}

li.notepad-infos-priority span {
    color: #a7f58f;
    cursor: pointer;
}

li.notepad-infos-priority span:hover{
    color: #fff;
    transition: 0.2s;
}